{% load staticfiles %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ember.js • TodoMVC</title>
    <link rel="stylesheet" type="text/css" media="all" href="{% static "css/style.css" %}" />
  </head>
  <body>
    <script type="text/x-handlebars" data-template-name="todos/index">
        {% include 'todo/todosIndex.handlebars' %}
    </script>

    <script type="text/x-handlebars" data-template-name="todos">
        {% include 'todo/todos.handlebars' %}
    </script>

    {% include 'todo/js.html' %}
  </body>
</html>
